@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
  html,
  body {
	width: 100%;
	height: 100%;
	color: #000;
	background-color: #000;

  }
  
.wrapper {
  	background-color: white;
	height: 150vh;
	overflow-x: hidden;
	overflow-y: auto;

    
  }
  .info{
	background: rgb(241, 238, 238);
	transform: translateZ(0) scale(1);
	transition: 5ms;
	z-index: 8;
	justify-content: center;
	height: 100vh;
  }
  
  .info,
  .info p {
	margin-bottom: 1rem;
  }
.h1a{
	color: 000;
	text-align: center;
  }
  .h1b{
color: 000;
float: right;

  }
  .h1c{
	color: #000;

  }
  .aboutme{
	margin-top: .5cm;
	font-size: 20px;
	
  }

  .languages{
	color: 000;
	font-weight: bolder;
	margin-top: 20px;
	font-size: 24px;
  }
  .imglan{
	width: 500px;
	margin-right: 1.0cm ;
	float: right;
  }
  .img3{
	margin-left: 1.0cm ;
  }
  .work{
	background-color:  000;
	height: 120vh;
	color: white;
	
  }
  .get-in-touch {
	max-width: 800px;
	margin: 50px auto;
	position: relative;
  
  }
  .get-in-touch .title {
	text-align: center;

	letter-spacing: 3px;
	font-size: 1cm;

	padding-bottom: 48px;
	color: #131314;
	  background: #5543ca;
	  background: -moz-linear-gradient(left,#e2dbda  0%,#0e0e11 100%) !important;
	  background: -webkit-linear-gradient(left,#f8f4f4  0%,#19191b 100%) !important;
	  background: linear-gradient(to right,#f0e9e9  0%,#18171a  100%) !important;
	  
  }
  
  .contact-form .form-field {
	position: relative;
	margin: 32px 0;
  }
  .contact-form .input-text {
	display: block;
	width: 100%;
	height: 36px;
	border-width: 0 0 2px 0;
	border-color: #56555c;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
  }
  .contact-form .input-text:focus {
	outline: none;
  }
  .contact-form .input-text:focus + .label,
  .contact-form .input-text.not-empty + .label {
	-webkit-transform: translateY(-24px);
			transform: translateY(-24px);
  }
  .contact-form .label {
	position: absolute;
	left: 20px;
	bottom: 11px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	color: #060607;
	cursor: text;
	transition: -webkit-transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out, 
	-webkit-transform .2s ease-in-out;
  }
  .contact-form .submit-btn {
	display: inline-block;
	background-color: #000;
	 background-image: linear-gradient(125deg,#a72879,#064497);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	padding: 8px 16px;
	border: none;
	width:200px;
	cursor: pointer;
  }
  @media (max-width: 1048px){
	.wrapper{
		height: 90vh;
		background-color: white;
	
	}
	.work{
		height: 70vh;
	}
	.info{
		height: 70vh;
	}
	.h1b{
		float: none !important;
		font-size: 50px;
	}
	.imglan{
		float: none;
		width: 800px;
	}
	.aboutme{
		float: none;
		font-size: 15px;
	}
	.img3{
	width: 800px;

	}
	
  }
  