@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
  
.wrapper {
  	background-color: white;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	
  }
  .work{
	background: rgb(8, 7, 7);
	height: 140vh;
	overflow-x: hidden;
	overflow-y: auto;
	color: wheat;	
  }
  
  .info{
	background: rgb(241, 238, 238);
	transform: translateZ(0) scale(1);
	transition: 5ms;
	z-index: 8;
	justify-content: center;
	height: 100vh;
  }
  
  .info,
  .info p {
	margin-bottom: 1rem;
  }
.h1a{
	color: 000;
	text-align: center;
	background-color: goldenrod;
  }
  .h1b{
color: 000;
font-family: 'Bentham', serif;
margin-left: 20px;
font-size: 3vmin ;

  }
  .h1c{
	color: #000;
	position: absolute;
	

  }
  .aboutme{
	margin-top: .5cm;
	
	
  }

  .languages{
	color: 000;
	font-weight: bolder;
	
	font-size: 24px;
  }
  .imglan{
	width: 100px;
	
  }

  .cssicon{
	width: 80px;
	align-items: stretch;
  }
  .jsicon{
	width: 90px;
  }
  .project1 {
	height: 420px;
	width: 654px;
	margin: 0 auto; /* card centre*/
        float: none; 
        margin-bottom: 10px; 
	border-radius: 7px 7px 7px 7px;
	
	-webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  
  .product-img {
	float: left;
	height: 420px;
	width: 327px;
  }
  
  .product-img img {
	border-radius: 7px 0 0 7px;
  }
  
  .product-info {
	float: left;
	height: 420px;
	width: 327px;
	border-radius: 0 7px 10px 7px;
	background-color: #ffffff;
  }
  
  .product-text {
	height: 300px;
	width: 327px;
  }
  
  .product-text h1 {
	margin: 0 0 0 38px;
	padding-top: 52px;
	font-size: 34px;
	color: black;
  }
  
  .product-text h1,
  .product-price-btn p {
	font-family: 'Bentham', serif;
  }
  
  .product-text h2 {
	margin: 0 0 47px 38px;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: goldenrod;
	letter-spacing: 0.2em;
  }
  
  .product-text p {
	height: 125px;
	margin: 0 0 0 38px;
	font-family: 'Playfair Display', serif;
	color: #8d8d8d;
	line-height: 1.7em;
	font-size: 15px;
	font-weight: lighter;
	overflow: hidden;
  }
  
  .product-price-btn {
	height: 103px;
	width: 327px;
	margin-top: 17px;
	position: relative;
  }
  
  .product-price-btn p {
	display: inline-block;
	position: absolute;
	top: -13px;
	height: 50px;
	font-family: 'Trocchi', serif;
	margin: 0 0 0 38px;
	font-size: 28px;
	font-weight: lighter;
	color: gray;
  }
  
  span {
	display: inline-block;
	height: 50px;
	font-family: 'Suranna', serif;
	font-size: 34px;
  }
  
  .product-price-btn button {
	
	display: inline-block;
	height: 50px;
	width: 176px;
	margin: 0 40px 0 16px;
	box-sizing: border-box;
	border: transparent;
	border-radius: 60px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	background-color: #000000;
	cursor: pointer;
	outline: none;
  }
  
  .product-price-btn button:hover {
	background-color: #ffffff;
	color: #000000;
  }
  .project2 {
	height: 420px;
	width: 654px;
	margin: 0 auto; /* card centre*/
        float: none; 
        margin-bottom: 10px;
	border-radius: 7px 7px 7px 7px;
	margin-top: 01cm;
	-webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  
  .product-img2 {
	float: left;
	height: 420px;
	width: 327px;
  }
  
  .product-img2 img {
	border-radius: 7px 0 0 7px;
  }
  
  .product-info2 {
	float: left;
	height: 420px;
	width: 327px;
	border-radius: 0 7px 10px 7px;
	background-color: #ffffff;
  }
  
  .product-text2 {
	height: 300px;
	width: 327px;
  }
  
  .product-text2 h1 {
	margin: 0 0 0 38px;
	padding-top: 52px;
	font-size: 34px;
	color: #474747;
  }
  
  .product-text2 h1,
  .product-price-btn2 p {
	font-family: 'Bentham', serif;
  }
  
  .product-text2 h2 {
	margin: 0 0 47px 38px;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: goldenrod;
	letter-spacing: 0.2em;
  }
  
  .product-text2 p {
	height: 125px;
	margin: 0 0 0 38px;
	font-family: 'Playfair Display', serif;
	color: #8d8d8d;
	line-height: 1.7em;
	font-size: 15px;
	font-weight: lighter;
	overflow: hidden;
  }
  
  .product-price-btn2 {
	height: 103px;
	width: 327px;
	margin-top: 17px;
	position: relative;
  }
  
  .product-price-btn2 p {
	display: inline-block;
	position: absolute;
	top: -13px;
	height: 50px;
	font-family: 'Trocchi', serif;
	margin: 0 0 0 38px;
	font-size: 28px;
	font-weight: lighter;
	color: gray;
  }
  
  span {
	display: inline-block;
	height: 50px;
	font-family: 'Suranna', serif;
	font-size: 34px;
  }
  
  .product-price-btn2 button {
	
	display: inline-block;
	height: 50px;
	width: 176px;
	margin: 0 40px 0 16px;
	box-sizing: border-box;
	border: transparent;
	border-radius: 60px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	background-color: #000000;
	cursor: pointer;
	outline: none;
  }
  
  .product-price-btn2 button:hover {
	background-color: #ffffff;
	color: #000000;
  }
  .get-in-touch {
	max-width: 800px;
	margin: 50px auto;
	position: relative;
  
  }
  .get-in-touch .title {
	text-align: center;

	letter-spacing: 3px;
	font-size: 1cm;

	padding-bottom: 48px;
	color: #131314;
	  background: #5543ca;
	  background: -moz-linear-gradient(left,#e2dbda  0%,#0e0e11 100%) !important;
	  background: -webkit-linear-gradient(left,#f8f4f4  0%,#19191b 100%) !important;
	  background: linear-gradient(to right,#f0e9e9  0%,#18171a  100%) !important;
	  
  }
  
  .contact-form .form-field {
	position: relative;
	margin: 32px 0;
  }
  .contact-form .input-text {
	display: block;
	width: 100%;
	height: 36px;
	border-width: 0 0 2px 0;
	border-color: #56555c;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
  }
  .contact-form .input-text:focus {
	outline: none;
  }
  .contact-form .input-text:focus + .label,
  .contact-form .input-text.not-empty + .label {
	-webkit-transform: translateY(-24px);
			transform: translateY(-24px);
  }
  .contact-form .label {
	position: absolute;
	left: 20px;
	bottom: 11px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	color: #060607;
	cursor: text;
	transition: -webkit-transform .2s ease-in-out;
	transition: transform .2s ease-in-out;
	transition: transform .2s ease-in-out, 
	-webkit-transform .2s ease-in-out;
  }
  .contact-form .submit-btn {
	display: inline-block;
	background-color: #000;
	 background-image: linear-gradient(125deg,#a72879,#064497);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	padding: 8px 16px;
	border: none;
	width:200px;
	cursor: pointer;
  }
  
  @media (max-width: 1048px){
	.wrapper{
		height: 90vh;
		background-color: white !important ;
	
	}
	.work{
		height: 70vh;
	}
	.imgprog{
		width: 350px;
		height: 350px;
	}
	.info{
		height: 70vh;
	}
	.h1b{
		float: none !important;
		font-size: 50px;
	}
	.img3{
		align-items: center;
		width: 100px;
	  }
	.languages{
		font-size: 50px;
	}
	.aboutme{
		float: none;
		font-size: 15px;
	}

	
  }
  