body{
    background-image: url(pexels-bich-tran-669996.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {color: rgb(248, 248, 252);
background-color: rgb(3, 3, 3); 
margin-bottom: 5%;
height:  10%;

font-style: normal;
}

h2{
    font-style: normal;
    color: rgb(235, 201, 5);
	
	
}
p{ text-align: center;
	font-family: 'Times New Roman', Times, serif;
	margin-top: 0.5cm;
    color: rgb(250, 249, 249);
    font-size: 200%;
    font-weight: 100;

}
ul{font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(252, 251, 248);
font-size: large;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    position: relative;
	margin-top: 300px;
align-items: baseline;
   clear:both;
}
.footer-col{
   width: 45%;
   padding: 30 75px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 80px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 0px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 20px;
	width: 40px;
	background-color: rgba(12, 11, 11, 0.2);
	margin:0 15px 20px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.cont{
	margin-left: 2cm;
}
