*{
  margin: 0;
  padding: 0;
}

body{
    background-image: url(ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

}
.logo{
  color: white;
  font-size: 3vmin;
}
.clear{
  clear: both;
}

.slide-toggle{
  display: none;
}

.slidemenu{

  font-family: arial, sans-serif;
  width: 50%;
  margin: 50px auto;
  overflow: hidden;  
}

.slidemenu label{
  width: 25%;
  text-align: center;
  display: block;
  float: left;
  color: white;
  

}

.slidemenu label:hover{
  cursor: pointer;
  color: rgb(237, 248, 74);
}

.slidemenu label span{
  display: block;
  padding: 5px;    
}

.slidemenu label .icon{
  font-size: 20px;
  border: solid 2px white;
  text-align: center;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

/*Bar Style*/

.slider{
  width: 100%;
  height: 5px;
  display: block;
  background: rgb(255, 252, 252);
  margin-top: 10px;
  border-radius: 5px;
}

.slider .bar{
  width: 25%;
  height: 5px;
  background: rgb(0, 0, 0);
  border-radius: 5px;
}

/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 300ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/

.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}



.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 25%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 50%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 75%; }


.profile{
  color: rgb(250, 252, 253);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 4vmin;
  margin-left: 5cm;
  
}
.round {
	border-radius: 50%;
  margin-right: 5cm;
  width: 20%;
  float: right;
  
}
.title{
  color: #fdfdfd;
  font-size: 3vmin;
}

.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing:border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  
  opacity: 1;
  outline: 0;
  padding: 1.0em 2.0em;
  position: relative;
  
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #f08383;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}
.bcentre{
  margin-left: 05cm;
}


@media all and (max-width){
  
}