body{
    background-image: url(pexels-bich-tran-669996.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {color: rgb(248, 248, 252);
   
    padding: 20px;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-block-end: 5%;
}
h2 { color: aliceblue;
    font-style: unset;
    font-size: 50px;
}
.profile{
  color: rgb(250, 252, 253);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin-left: 3cm;
  
}
.round {
	border-radius: 50%;
  margin-right: 10cm;
  width: 20%;
  float: right;
  
}
.title{
  color: #fdfdfd;
  font-size: 0.7cm;
}

.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing:border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #f08383;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}
.bcentre{
  margin-left: 03cm;
}
